<html>
<head>
  <title>Invite from Myapp</title>
</head>
<body>
<header><h1>myApp</h1></header>
  <main>
    <p>
      Hi <%=name%> <%=surname%>,
    </p>
    <br>
    <p>
      Myapp would like you to join it's network on <a href="http://myapp.com">Myapp.com</a>.
      <br />
      Please follow the link bellow to register:
    </p>
    <p>
      <a href="http://myapp.com/register?invite={{id}}">http://myapp.com/register?invite=<%=id%></a>
    </p>
    <br>
    <p>
      Thank you,
      <br />
      <b>Myapp Team</b>
    </p>
  </main>
</body>
</html>